html{
    font-family: Arial, sans-serif;
}

body{
    margin:0px;
}

.buttonSave{
    border-radius: 5px;
    color:white;
    border: 0px;
    background-color: #0cf049;
}

.buttonSave:hover{
    border-radius: 5px;
    border: 0px;
    color:white;
    -webkit-box-shadow: 0px 1px 5px -1px #666666;
    -moz-box-shadow: 0px 1px 5px -1px #666666;
    -o-box-shadow: 0px 1px 5px -1px #666666;
    box-shadow: 0px 1px 5px -1px #666666;
    background-color: #0cf049;
}

.shadow{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

